<h2>Изменить пароль</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <div class="form col-md-4">
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, label: 'Новый пароль', autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, label: 'Подтвердите новый пароль', autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Изменить пароль" %>
    </div>

    <br>
    <%= render "devise/shared/links" %>  
  </div>
<% end %>