%header.header
  %nav.navbar.navbar-default
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to image_tag('logo.png', class: 'logo') , root_path

      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to map_path do
              Карта
              = fa_icon 'globe'
          %li
            = link_to new_place_path do
              Добавить место
              = fa_icon 'plus-circle'

          - @custom_pages.each do |page|
            - cache page do
              %li
                = link_to page.title, "/#{page.slug}"

        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li
              = link_to destroy_user_session_path, method: :delete do
                Выйти
                = fa_icon 'sign-out'
          - else
            %li
              = link_to new_user_session_path do
                Войти/Регистрация
                = fa_icon 'sign-in'