#map-filter
  = bootstrap_form_tag url: root_path do |f|
    = f.collection_select :category_id, @categories, :id, :name, label: 'Категория'
    = f.text_field :reviews_count, label: 'Кол-во отзывов >=', class: 'form-control', placeholder: '10'
    = f.text_field :reviews_count, label: 'Рейтинг >=', class: 'form-control', placeholder: '4.9'
    = f.submit 'Фильтровать', class: 'btn btn-primary'