.place-form.white-block
  %h1 Добавить свое место

  = bootstrap_form_for @place, html: { multipart: true } do |f|
    - if @place.errors.any?
      #error_explanation
        %h2= "#{pluralize(@place.errors.count, "error")} prohibited this place from being saved:"
        %ul
          - @place.errors.full_messages.each do |msg|
            %li= msg

    %h4.sub-title Местоположение
    %div{:style => "width: 100%;"}
      #map{:style => "width: 100%; height: 400px;"}
      = render 'shared/search_form'

    %hr/

    %h4.sub-title Информация
    = f.text_field :title, label: 'Название места', required: true
    = f.collection_select :category_id, @categories, :id, :name, label: 'Категория'
    = f.text_area :description, label: 'Описание места'

    %hr/

    %h4.sub-title Добавить фото
    #place_images
      = f.fields_for :place_images, PlaceImage.new do |image|
        = render 'place_image_fields', f: image
        = link_to_add_association 'Добавить еще одно фото', f, :place_images

    %hr/

    %h4.sub-title Ваша оценка
    %fieldset
    %span.star-cb-group
      %input#rating-5.rating{:name => "rating", :type => "radio", :value => "5"}/
      %label{:for => "rating-5"} 5
      %input#rating-4.rating{:checked => "checked", :name => "rating", :type => "radio", :value => "4"}/
      %label{:for => "rating-4"} 4
      %input#rating-3.rating{:name => "rating", :type => "radio", :value => "3"}/
      %label{:for => "rating-3"} 3
      %input#rating-2.rating{:name => "rating", :type => "radio", :value => "2"}/
      %label{:for => "rating-2"} 2
      %input#rating-1.rating{:name => "rating", :type => "radio", :value => "1"}/
      %label{:for => "rating-1"} 1
      %input#rating-0.rating.star-cb-clear{:name => "rating", :type => "radio", :value => "0"}/
      %label{:for => "rating-0"} 0

    .actions
      = f.submit 'Добавить место', class: 'btn btn-success', id: 'create-place-button', disabled: true


:javascript
  var currentLatLng = {lat: parseFloat("#{@latitude}"), lng: parseFloat("#{@longitude}")};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: currentLatLng
  });
  var geocoder = new google.maps.Geocoder();

  document.getElementById('submit').addEventListener('click', function() {
    geocodeAddress(geocoder, map);
  });

  function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('address').value;
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        resultsMap.setCenter(results[0].geometry.location);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  var infowindow = new google.maps.InfoWindow(), marker, i;

  function placeMarker(location) {
    if ( marker ) {
      marker.setPosition(location);
    } else {
      marker = new google.maps.Marker({
        position: location,
        map: map
      });
    }
  }

  google.maps.event.addListener(map, 'click', function(event) {
    placeMarker(event.latLng);
    lat = marker.getPosition().lat();
    lng = marker.getPosition().lng();
    addHiddenFields(lat, lng);
    activeSubmitButton();
  });

  function addHiddenFields(lat, lng) {
    $('input[type="hidden"][name="latitude"]').remove();
    $('input[type="hidden"][name="longitude"]').remove();
    $('#new_place').append('<input type="hidden" name="latitude" value="' + lat + '" />');
    $('#new_place').append('<input type="hidden" name="longitude" value="' + lng + '" />');
  }

  function activeSubmitButton() {
    $('#create-place-button').prop( "disabled", false );
  }