- content_for :seo_title, @place.title if @place.title
- content_for :seo_description, @place.description if @place.description

.place-show.container
  .main-info.white-block.row
    .col-md-6.left-block
      %h1.title= @place.title
      = image_tag "ratings/#{@place.rating.round}.png", class: 'rating'
      = link_to @place.category.name, '', class: 'category'
      %p.description= @place.description

      .share
        = social_share_button_tag(@place.title)

      .complain
        = link_to 'Пожаловаться', complains_path(id: @place.id, type: 'Place'), method: :post

    .col-md-6.right-block

      - if @place.place_images[0].image.present?
        .sp-wrap
          %a{:href => "#{@place.place_images[0].image.url(:original)}"}
            %img{:alt => "", :src => "#{@place.place_images[0].image.url(:small)}"}/

          - if @place.place_images[1].present?
            - @place.place_images[1..-1].each do |image|
              = link_to image_tag(image.image.url(:small)), image.image.url

  .map-info.white-block.row
    .col-md-12
      %h2.title Карта места

      .address
        .left-block
          %p
            %strong Добавил:
            = @place.posted_by

          %p
            %strong Координаты:
            = @place.coordinates

        .right-block
          %p
            %strong Добавлено:
            = @place.posted_at

          %p
            %strong Просмотры:
            = @place.visits

      %div{:style => "width: 100%;"}
        #map.place-map{:style => "width: 100%; height: 800px;"}

    .col-md-12
      %h2.title Похожие места в этом районе:

      - if @near_places.present?
        .near-places.row
          - @near_places.each do |place|
            - cache place do 
              .place.col-md-3
                = place.decorate.get_near_place_background 
                = image_tag "ratings/#{@place.rating.round}.png", class: 'rating center'
                .name
                  = link_to place.title, place_path(place.id), class: 'center'

      - else
        %p Нет похожих мест поблизости 

  .reviews.white-block.row
    .col-md-12
      %h2.title Отзывы

      - if @place.reviews.present?
        .reviews
          - @reviews.each do |review|
            - cache review do
              .date
                .review
                  = review.decorate.posted_info
                = image_tag "ratings/#{@place.rating.round}.png", class: 'rating'

              - if review.review
                %p.text= review.review

              .actions
                .like
                  = link_to review_like_path(review_id: review.id), method: :put do
                    = fa_icon 'thumbs-up 2x'
                  = "(#{review.likes})"

                .dislike
                  = link_to review_dislike_path(review_id: review.id), method: :put do
                    = fa_icon 'thumbs-down 2x'
                  = "(#{review.dislikes})"
                
                .complain
                  = link_to 'Пожаловаться', complains_path(id: review.id, type: 'Review'), method: :post

              %hr/
      - else
        %p Нет отзывов

      .form
        %h2.title Добавить свой отзыв
        = bootstrap_form_for Review.new do |f|
          - unless current_user
            = f.text_field :name, label: 'Имя', placeholder: 'Ваше имя', required: true

          = f.text_area :review, label: 'Отзыв', placeholder: 'Ваш отзыв'
          = f.hidden_field :place_id, value: params[:id]

          %h4 Ваша оценка
          %fieldset
          %span.star-cb-group
            %input#rating-5.rating{:name => "rating", :type => "radio", :value => "5"}/
            %label{:for => "rating-5"} 5
            %input#rating-4.rating{:checked => "checked", :name => "rating", :type => "radio", :value => "4"}/
            %label{:for => "rating-4"} 4
            %input#rating-3.rating{:name => "rating", :type => "radio", :value => "3"}/
            %label{:for => "rating-3"} 3
            %input#rating-2.rating{:name => "rating", :type => "radio", :value => "2"}/
            %label{:for => "rating-2"} 2
            %input#rating-1.rating{:name => "rating", :type => "radio", :value => "1"}/
            %label{:for => "rating-1"} 1
            %input#rating-0.rating.star-cb-clear{:name => "rating", :type => "radio", :value => "0"}/
            %label{:for => "rating-0"} 0

          .submit
            = f.submit 'Отправить отзыв', class: 'btn btn-success'


:javascript

  var currentLatLng = {lat: parseFloat("#{@place.latitude}"), lng: parseFloat("#{@place.longitude}")};
  var myOptions = {
    zoom: 10,
    center: currentLatLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    mapTypeControl: false
  };

  var map = new google.maps.Map(document.getElementById("map"), myOptions);

  var marker = new google.maps.Marker({
    position: currentLatLng,
    map: map,
    title: 'Hello World!',
    icon: "#{@place.category.marker_image_url}"
  });
