!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fishmap
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{:src => "//maps.google.com/maps/api/js?v=3.23&key=AIzaSyC579WhWuZAXuYxJ18AF7u0Y6jmvc8S-n8"}
    %script{:charset => "windows-1251", :src => "http://vk.com/js/api/share.js?93", :type => "text/javascript"}
    %script{:async => "", :defer => "defer", :src => "https://apis.google.com/js/platform.js"}
      :cdata
        {lang: 'ru'}
  %body
    = render 'shared/header'
    = render partial: 'shared/flashes'

    .container-fluid
      = yield
