!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = "Lovemapia" + " | #{yield(:seo_title)}"
    %meta{:content => "#{yield(:seo_keywords)}", :name => "keywords"}/
    %meta{:content => "#{yield(:seo_description)}", :name => "description"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{:src => "//maps.google.com/maps/api/js?v=3.23&key=AIzaSyC579WhWuZAXuYxJ18AF7u0Y6jmvc8S-n8"}
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}/
    %script{:charset => "windows-1251", :src => "http://vk.com/js/api/share.js?93", :type => "text/javascript"}
    %script{:async => "", :defer => "defer", :src => "https://apis.google.com/js/platform.js"}
      :cdata
        {lang: 'ru'}
  %body
    = render 'shared/header'
    = render partial: 'shared/flashes'

    .container-fluid
      - if @all_banners.present?
        - @all_banners.each do |banner|
          - cache banner do
            %div{class: "banner #{banner.id}", style: "width: #{banner.width}; height: #{banner.height}; top: #{banner.top}; left: #{banner.left}"}
              = raw banner.body
      = yield
